{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home/index.css') }}">
{% endblock %}

{% block title %}Tournament Factory{% endblock %}

{% block body %}
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenue sur Tournament Factory</div>
                <div class="intro-heading text-uppercase">C'est tellement simple de créer des tournois.</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">En savoir plus</a>
            </div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted">Managez et participez à des tournois.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fab fa-megaport fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tournoi à élimination direct</h4>
                    <p class="text-muted">Créez autant de tournois que nécessaire. D'un à soixante-quatre matchs, de
                        deux à cent vingt-huit participants.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fas fa-genderless fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Générique</h4>
                    <p class="text-muted">Ne vous sentez pas limité par un sport physique ou électronique. La création
                        générique vous permet d'adapter un tournois à vos besoins.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-medal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Vainqueur</h4>
                    <p class="text-muted">Visualisez facilement le vainqueur de chaque match et tournoi.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Road map</h2>
                    <h3 class="section-subheading text-muted">Gardez un oeil sur l'évolution de Tournament Factory.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('image/start.jpg') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>14 juin 2018</h4>
                                    <h4 class="subheading">Naissance du projet</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Début du projet, création d'un cahier des charges, mise en place des environnements de travail. Définitions des tâches prioritaire pour
                                        la sortie rapide d'une V1.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('image/launch.jpg') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>06 juillet 2018</h4>
                                    <h4 class="subheading">Lancement officiel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lancement officiel de la V1 de Tournament Factory. Cette version comporte les fonctionnalités de base de fonctionnement de la plateforme.
                                        Il est possible de créer des tournois à élimination direct, de définir le score d'un match et de le terminer.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('image/fast.jpg') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Rapidement</h4>
                                    <h4 class="subheading">Options de création</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nous aimerions rapidement ajouter des options de création de tournois pour permettre, le plus possible, de créer des tournois adaptés aux besoins.
                                        Par exemple, l'unité du score (temps, point ...) ou le nombre de résultat par match (comme pour des sets de tennis, volley...)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('image/wait.jpg') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Bientôt</h4>
                                    <h4 class="subheading">Nouveau type de tournois</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Une des prochaines grosses mise à jour sera concentrée sur la création de nouveau type de tournois. Des tournois par classement uniquement,
                                        mais aussi des tournois mixtes, une élimination direct précédée d'une phase de poule.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Prenez
                                    <br>part à notre
                                    <br>histoire!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Notre super équipe</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{{ asset('image/Alexis.jpg')}}" alt="">
                        <h4>Alexis Hermes</h4>
                        <p class="text-muted">Chef de projet</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/alexis-hermes-b0402479/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/ahermes">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{{ asset('image/Jerem.jpg')}}" alt="">
                        <h4>Jérémy Lahore</h4>
                        <p class="text-muted">Lead technique</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-lahore-67798a139/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/JeremLa">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">Ce projet a été réalisé dans le cadre d'un examen de fin de dernière année pour l'école
                        <a href="https://esimed.fr/">ESIMED</a></p>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Tournament Factorys 2018</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://github.com/JeremLa/Tournament-Factory">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}