{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home/login.css') }}">
{% endblock %}

{% block title %}
    {{ 'security.signup' | trans }}
{% endblock %}

{% block body %}
    <div class="container mt-3">
        {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.email) }}
            </div>

            <div class="form-group">
                {{ form_row(form.username) }}
            </div>

            <div class="form-group">
                {{ form_row(form.password) }}
            </div>

            <button type="submit" class="btn btn-primary btn-block">{{ 'form.save' | trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
