{% extends "base.html.twig" %}
{% form_theme form 'form/custom-label.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home/login.css') }}">
{% endblock %}

{% block title %}
    {{ 'security.signup' | trans }}
{% endblock %}

{% block body %}
    <div class="container mt-5">

        <div class="row justify-content-center">
            <h1 class="col-sm-12 col-md-6">Créer un compte</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12 border rounded p-5 bg-dark text-agency">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.tfuser.firstname) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.tfuser.lastname) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.tfuser.nickname) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.password) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.tfuser.country) }}
                </div>

                <button type="submit" class="btn btn-primary btn-block">{{ 'form.save' | trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
