{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/match/match-details.css') }}">
{% endblock %}

{% block title %}Détail du match{% endblock %}

{% block body %}
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-sm-12 px-0">
            <div class="row">
                <h1 class="col">
                    {{ 'tournament.turn.tab' | transchoice(2 ** match.turn) }}
                </h1>
                <div class="col text-right align-bottom">
                    <a href="{{ path('detail-tournament', {'tournamentId' : match.tournament.id}) }}">{{ match.tournament.name }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-5 display-4 match-align-middle">{{ match.players[0] is defined ? match.players[0].nicknames[0] : '??' }}</div>
                <div class="col-2 text-center display-2">VS</div>
                <div class="col-5 text-right display-4 match-align-middle">{{ match.players[1] is defined ? match.players[1].nicknames[0] : '??' }}</div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <small>{{ match.players[0] is defined ? match.score[match.players[0].id] : '' }} - {{  match.players[1] is defined ? match.score[match.players[1].id] : '' }}</small>
                </div>
            </div>
            <div class="row">

                {% if match.previousMatch | length > 0 %}
                    <div class="col text-left">
                        {% for pmatch in match.previousMatch %}
                            <a href="{{ path('match-details', {'id' : pmatch.id}) }}" class="d-block">
                                {% set player1 = pmatch.players[0] is defined ? pmatch.players[0].nicknames[0] : '??' %}
                                {% set player2 = pmatch.players[1] is defined ? pmatch.players[1].nicknames[0] : '??' %}
                                Match précédent : {{ player1 ~ ' VS ' ~ player2 }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if match.nextMatch is not null %}
                    <div class="col text-right">
                        <a href="{{ path('match-details', {'id' : match.nextMatch.id}) }}">
                            Match suivant
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if match.over %}
        <div class="alert alert-success col-sm-12">
            {{ 'match.singleElimination.over.validation.success' | trans }}
        </div>
    {% endif %}

    {% if match.tournament.owner == app.user.tfuser %}
        {% include 'includes/flash-messages.html.twig' %}

        {% if not match.over and match.players | length == 2 %}
            {{ form_start(scoreForm, {'attr' : {'id' : 'match-update-form'}}) }}
                <div class="row p-1 mb-2">
                   <div class="col match-align-middle"><strong>{{ match.players[0].nicknames[0] }}</strong></div>
                   <div class="col-1 text-center">{{ form_widget(scoreForm.score1) }}</div>
                   <div class="match-align-middle"><strong>-</strong></div>
                   <div class="col-1 text-center">{{ form_widget(scoreForm.score2) }}</div>
                   <div class="col text-right match-align-middle"><strong>{{ match.players[1].nicknames[0] }}</strong></div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <div class="inputGroup">
                            {{ form_widget(scoreForm.isOver) }}
                            {{ form_label(scoreForm.isOver) }}
                        </div>
                    </div>
                    {#<input id="option1" name="option1" type="checkbox"/>#}
                    {#<label for="option1">Option One</label>#}
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-6">
                        {{ form_widget(scoreForm.save, { 'attr': {'class': 'btn btn-primary btn-lg col m-1'}}) }}
                    </div>
                    {#{{ form_widget(scoreForm.over, {#}
                        {#'attr': {#}
                            {#'class': 'btn btn-success col m-1',#}
                            {#'onClick': "return confirm('Une fois terminé, le match ne pourra plus être modifié.')"#}
                        {#}#}
                    {#}) }}#}
                </div>
            {{ form_end(scoreForm) }}

            <div class="modal fade" id="match-over-confirm" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Attention, si vous décidez de terminer ce match, vous ne pourrez plus modifier le score.
                            Ce choix est irréversible.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="button" id="match-over-validate" class="btn btn-primary">Terminer le match</button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% if not (match.players | length == 2) %}
                <div class="alert alert-warning col-sm-12">
                    {{ 'match.owner.update.warning' | trans }}
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(() => {
          let doStuff = true;
          $('#match-update-form').on('submit', (e) => {
            if($('#score_isOver').is(':checked') && doStuff){
              e.preventDefault();
              e.stopPropagation();

              $('#match-over-confirm').modal();

              $('#match-over-validate').on('click', () => {
                if(doStuff){
                  doStuff = false;
                  $('#match-update-form').submit();
                }
              });
            }
          })
        })
    </script>
{% endblock %}
