{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/match/match-details.css') }}">
{% endblock %}

{% block title %}Détail du match{% endblock %}

{% block body %}
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-sm-12 px-0">
            <div class="row">
                <h1 class="col">
                    {{ 'tournament.turn.tab' | transchoice(2 ** match.turn) }}
                </h1>
                <div class="col text-right align-bottom">
                    <a href="{{ path('detail-tournament', {'tournamentId' : match.tournament.id}) }}">{{ match.tournament.name }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-5 display-4 match-align-middle">{{ match.players[0].nicknames[0] }}</div>
                <div class="col-2 text-center display-2">VS</div>
                <div class="col-5 text-right display-4 match-align-middle">{{ match.players[1].nicknames[0] }}</div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <small>{{ match.score[match.players[0].id] }} - {{ match.score[match.players[1].id] }}</small>
                </div>
            </div>
        </div>
    </div>

    {% if match.tournament.owner == app.user.tfuser %}
        {% include 'includes/flash-messages.html.twig' %}
        
        {{ form_start(scoreForm) }}
            <div class="row p-1 mb-2">
               <div class="col match-align-middle"><strong>{{ match.players[0].nicknames[0] }}</strong></div>
               <div class="col-1 text-center">{{ form_widget(scoreForm.score1) }}</div>
               <div class="match-align-middle"><strong>-</strong></div>
               <div class="col-1 text-center">{{ form_widget(scoreForm.score2) }}</div>
               <div class="col text-right match-align-middle"><strong>{{ match.players[1].nicknames[0] }}</strong></div>
            </div>
            <div class="row">
                {{ form_widget(scoreForm.save, { 'attr': {'class': 'btn btn-primary col m-1'}}) }}
                {{ form_widget(scoreForm.over, { 'attr': {'class': 'btn btn-success col m-1'}}) }}
            </div>
        {{ form_end(scoreForm) }}
    {% endif %}
{% endblock %}