{% extends 'base.html.twig' %}

{% block title %}Mes Matchs{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <h1 class="col">{{ 'match.list.title' | trans | capitalize }}</h1>
        </div>

        <div class="row">
            <nav class="nav nav-tabs col">
                <a class="nav-item nav-link active" href="#notOver" data-toggle="tab">
                    {{ 'match.list.notOver' | trans }}
                </a>
                <a class="nav-item nav-link" href="#over" data-toggle="tab">
                    {{ 'match.list.over' | trans }}
                </a>
            </nav>
        </div>

        <div class="row">
            <div class="tab-content col px-3">
                <div class="tab-pane fade show active" id="notOver" style="line-height: 40px;">
                    {% if tfmatchesNotOver | length > 0 %}
                        {% for match in tfmatchesNotOver %}
                            {% include 'includes/match.html.twig' %}
                        {% endfor %}
                    {% else %}
                        <b>
                            {{ 'match.list.none' | trans }}
                        </b>
                    {% endif %}
                </div>
                <div class="tab-pane fade show" id="over" style="line-height: 40px;">
                    {% if tfmatchesOver | length > 0 %}
                        {% for match in tfmatchesOver %}
                            {% include 'includes/match.html.twig' %}
                        {% endfor %}
                    {% else %}
                        <b>
                            {{ 'match.list.none' | trans }}
                        </b>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}