{% extends 'base.html.twig' %}

{% block title %}{{ 'tournament.menu.list' | trans }}{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>{{ 'tournament.menu.list' | trans }}</h1>
    {% include 'includes/flash-messages.html.twig' %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'tournament.name' | trans }}</th>
            <th>{{ 'tournament.max_participant' | trans }}</th>
            <th>{{ 'tournament.type' | trans }}</th>
            <th>{{ 'tournament.owner' | trans }}</th>
            <th>{{ 'tournament.action' | trans }}</th>
        </tr>
        </thead>
        <tbody>
            {% for tournament in tournaments %}
                <tr>
                    <td>{{ tournament.name }}</td>
                    <td>{{ tournament.maxParticipantNumber }}</td>
                    <td>{{ tournament.type | typeEnum }}</td>
                    {% if tournament.owner.nicknames | length > 0 %}
                        <td>{{ tournament.owner.nicknames[0] }}</td>
                    {% else %}
                        <td>N/C</td>
                    {% endif %}
                    <td>
                        {% if app.user and app.user.tfuser == tournament.owner %}
                        <a href="{{ path('add-participant', {tournamentId: tournament.id} ) }}">{{ 'actions.addParticipant' | trans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
